/* Colors */
:root {
  --color-chicken-yellow: #ffcb47;
  --color-deep-blue: #141b41;
  --color-lemon-green: #7ee081;
  --color-light-blue: #bce7fd;
}

* {
  box-sizing: border-box;
}
/* Typography */
html {
  /* 62.5% of 15px (Browser default) = 10px is the root element size*/
  font-size: 41.6%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  color: var(--color-deep-blue);
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

h2,
h3 {
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 5rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  /* Font size media query */
}

/*Links */
a {
  text-decoration: none;
  color: inherit;
}

/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Generic Cards */
.card {
  border-radius: 30px;
  box-shadow: 0 0 15px 0 var(--color-deep-blue);
  overflow: hidden;
}

.card__body {
  padding: 0 1.5rem;
  font-size: 4rem;
}
.card__header {
  background-color: var(--color-deep-blue);
  display: block;
}

.waves {
  display: block;
  width: 100%;
}

/*Skill Cards*/
.skill {
  max-width: 360px;
  margin: 3rem;
  transition: transform 0.2s ease-out;
}
.skill__title {
  color: var(--color-light-blue);
  margin: 0 auto;
  padding-top: 1rem;

  font-weight: 100;
  text-align: center;
}
.skill:hover {
  transform: scale(1.05);
}

.skill__item {
  margin: 2rem auto;
  padding-left: 15%;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.collapsible__toggler {
  cursor: pointer;
}
.collapsible--extended .collapsible__toggler {
  color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}
.collapsible--extended .collapsible__content {
  max-height: 100vh;
}

/*Nav Bar*/
.nav {
  padding: 2rem;
  background: var(--color-deep-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav__list {
  width: 100%;
  background: linear-gradient(
    var(--color-deep-blue),
    var(--color-lemon-green) 30%
  );
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  margin: 0;
}

.nav__item {
  border-top: 4px solid var(--color-deep-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__item:first-child {
  margin-top: 3rem;
  border-top: none;
}

.nav__item:hover {
  color: var(--color-light-blue);
  transition: color 0.3s;
}
.nav__item > a {
  margin: 1rem 4rem;
  font-size: 4rem;
  font-weight: 500;
}

.nav__toggler {
  color: var(--color-lemon-green);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--color-lemon-green);
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .collapsible__toggler {
    display: none;
  }

  .nav__list {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    color: var(--color-lemon-green);
    background: var(--color-deep-blue);
    font-size: 1.5rem;
    max-height: 100vh;
    justify-content: space-evenly;
  }
  .nav__item {
    border-bottom: 1px solid var(--color-lemon-green);
    margin-left: 2rem;
  }
  .nav__item:first-child {
    margin: 0;
  }
  .nav__item > a {
    margin: 1rem;
    font-size: 3rem;
  }
}
/* Profile box */
.profile-box {
  width: 100%;
  position: relative;
}
.profile-box__image {
  height: 150px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.profile-box__image-wrapper-horizontal {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -40px;
}
.profile-box__image-wrapper-vertical {
  height: 95%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-box .image {
  position: absolute;
  height: 100%;
}
.profile-box .ring-one {
  position: absolute;
  height: 120%;
}
.profile-box .ring-two {
  position: absolute;
  height: 150%;
}
.profile-box > .bottom-rectangle {
  width: 100%;
  height: 80px;
  background: var(--color-lemon-green);
  border-radius: 10px;
  position: relative;
  bottom: -10px;
  z-index: 0;
}

/* ENDLESS ROTATE */
.rotate {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.rotate--slow {
  animation: rotate 2.5s linear infinite;
}
@keyframes rotate--slow {
  to {
    transform: rotate(360deg);
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Section Who i Am?*/
.who-i-am {
  color: var(--color-lemon-green);
  background: var(--color-deep-blue);
}

.who-i-am .my-picture {
  padding: 6rem 10rem;
}
.who-i-am .my-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10rem;
}

.my-info__title {
  width: 100%;
  text-align: center;
}

.my-info__text {
  color: var(--color-light-blue);
}

/*Section quote*/
.quote {
  background: var(--color-deep-blue);
}
.quote__image-box {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.quote__image-box img {
  width: 25rem;
}
.quote__text-box {
  padding: 0 10rem;
}
.quote__text-box > img {
  float: right;
  margin: 8rem;
  bottom: 0;
}
.quote__text {
  margin: 4rem;
  color: var(--color-chicken-yellow);
}

/* Top wave */
.top-wave {
  width: 100%;
}

/* Skills Section */
.skills__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__title {
  padding-left: 8rem;
  width: 100%;
  overflow: hidden;
}
.skills__title p {
  width: 100%;
  word-wrap: break-word;
}

/*Bottom wave*/
.bottom-wave {
  width: 100%;
  display: block;
}

/* Crack-div */
.top-crack {
  background: url(/svg/top-crack.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}
.top-crack__top-filler {
  height: 50px;
  width: 100%;
  color: orange;
}
.top-crack__text {
  color: var(--color-deep-blue);
  font-size: 4rem;
  display: block;
  margin: 0;
  padding: 3rem;
}
.bottom-crack {
  width: 100%;
  display: block;
}
.top-crack__filler {
  background-color: var(--color-deep-blue);
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 320px) {
  .top-crack__top-filler {
    height: 25px;
  }
  .top-crack__text {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top-crack__top-filler {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .top-crack__top-filler {
    height: 200px;
  }
}

/*Section Projects*/
.projects {
  color: var(--color-lemon-green);
  background: var(--color-deep-blue);
}
.projects__title {
  margin-top: 0;
}
.projects__text {
  color: var(--color-light-blue);
}
.indent {
  padding-left: 8rem;
}
.project__imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__imgs img {
  margin: 8rem;
}

/*Footer*/
footer {
  background-image: linear-gradient(
    var(--color-deep-blue),
    var(--color-chicken-yellow)
  );
  color: var(--color-deep-blue);
  padding: 8rem;
  padding-top: 50rem;
}

footer h2 {
  margin-top: 0;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8rem;
}

.contact-list__item:hover {
  color: azure;
  font-size: 3.5rem;
  transition: color 0.3s, font-size 0.2s;
}
