<html>
  <body>
    <div class="profile-box">
      <div class="profile-box__image">
        <div class="profile-box__image-wrapper-horizontal">
          <div class="profile-box__image-wrapper-vertical">
            <img
              class="image"
              src="images/joskua-selfie@2x.webp"
              alt="A picture of Jóskua"
              srcset="
                images/joskua-selfie@2x.webp 2x,
                images/joskua-selfie@3x.webp 3x
              "
            />
            <img class="ring-one rotate" src="svg/ring-one.svg" alt="" />
            <img class="ring-two rotate--slow" src="svg/ring-one.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="bottom-rectangle"></div>
    </div>
  </body>
</html>
