<html>
  <body>
    <div class="skill">
      <div class="card">
        <header class="card__header">
          <h3 class="skill__title">Data Science</h3>
        </header>
        <img class="waves" src="/svg/card-wave.svg" alt="" />
        <div class="card__body">
          <ul class="list">
            <li class="skill__item">
              <img
                src="/images/powerbi-logo.webp"
                alt="Power Bi logo"
                srcset="
                  /images/powerbi-logo.webp,
                  /images/powerbi-logo@2x.webp 2x,
                  /images/powerbi-logo@3x.webp 3x
                "
              />
              Power Bi
            </li>
            <li class="skill__item icon--beam">
              <img
                src="/images/beam-logo.webp"
                alt="Apache Beam Logo"
                srcset="
                  /images/beam-logo.webp,
                  /images/beam-logo@2x.webp 2x,
                  /images/beam-logo@3x.webp 3x
                "
              />
              Beam
            </li>
            <li class="skill__item">
              <img
                src="/images/dataflow-logo.webp"
                alt="Google Dataflow Logo"
                srcset="
                  /images/dataflow-logo.webp,
                  /images/dataflow-logo@2x.webp 2x,
                  /images/dataflow-logo@3x.webp 3x
                "
              />
              Dataflow
            </li>
            <li class="skill__item">
              <img
                src="/images/bigquery-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/bigquery-logo.webp,
                  /images/bigquery-logo@2x.webp 2x,
                  /images/bigquery-logo@3x.webp 3x
                "
              />
              Big Query
            </li>
            <li class="skill__item">
              <img
                src="/images/datastudio-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/datastudio-logo.webp,
                  /images/datastudio-logo@2x.webp 2x,
                  /images/datastudio-logo@3x.webp 3x
                "
              />
              Data Studio
            </li>
            <li class="skill__item">
              <img
                src="/images/pandas-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/pandas-logo.webp,
                  /images/pandas-logo@2x.webp 2x,
                  /images/pandas-logo@3x.webp 3x
                "
              />
              Pandas
            </li>
            <li class="skill__item">
              <img
                src="/images/tensorflow-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/tensorflow-logo.webp,
                  /images/tensorflow-logo@2x.webp 2x,
                  /images/tensorflow-logo@3x.webp 3x
                "
              />
              Tensor Flow
            </li>
            <li class="skill__item">
              <img
                src="/images/keras-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/keras-logo.webp,
                  /images/keras-logo@2x.webp 2x,
                  /images/keras-logo@3x.webp 3x
                "
              />
              Keras
            </li>
            <li class="skill__item">
              <img
                src="/images/excel-logo.webp"
                alt="Google Big Query Logo"
                srcset="
                  /images/excel-logo.webp,
                  /images/excel-logo@2x.webp 2x,
                  /images/excel-logo@3x.webp 3x
                "
              />
              Excel
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
